* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-weight: bold;
}

/* El panel lateral flotante */
.control-center {
    background-color: rgba(30, 30, 46, 0.85);
    color: #cdd6f4;
    border-radius: 15px;
    border: 2px solid #89b4fa;
    padding: 10px;
}

/* Las notificaciones individuales (burbujas) */
.notification-row {
    outline: none;
}

.notification {
    background-color: rgba(30, 30, 46, 0.95);
    color: #cdd6f4;
    border-radius: 15px;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #6c7086;
}

/* El botón de cerrar */
.close-button {
    background-color: #f38ba8;
    color: #1e1e2e;
    border-radius: 10px;
}
